.github/workflows/      @teamdivergentes/devsecops
.github/scripts/        @teamdivergentes/devsecops
Dockerfile              @teamdivergentes/devsecops
devsecops.yml           @teamdivergentes/devsecops
src/                    @teamdivergentes/developers
