<footer class="footer row" role="contentinfo">
  <section class="logos-cells">
    <div class="logos-cells_cell r-border col-6">
      <div class="logos-cells_cell_left">
        <img class="hashtag" ngSrc="assets/logos/hashtag.svg" alt="Hashtag Team Divergentes" width="300" height="118" />
      </div>
    </div>
    <div class="logos-cells_cell right col-6">
      <div class="logos-cells_cell_right">
        <img class="logo" [ngSrc]="logoFileUrl" alt="Logo Team Divergentes" width="37" height="35" />
      </div>
    </div>
  </section>

  <mat-divider class="d-md-none dark-primary"></mat-divider>

  <section class="socials-icons-with-copyrights">
    <nav class="social-icons" aria-label="Réseaux sociaux">
      <app-icon-link class="socials-icons_icon" [iconConfig]="{iconType: ProjectIconType.INSTAGRAM}"></app-icon-link>
      <app-icon-link class="socials-icons_icon" [iconConfig]="{iconType: ProjectIconType.TWITTER}"></app-icon-link>
      <app-icon-link class="socials-icons_icon" [iconConfig]="{iconType: ProjectIconType.YOUTUBE}"></app-icon-link>
      <app-icon-link class="socials-icons_icon" [iconConfig]="{iconType: ProjectIconType.DISCORD}"></app-icon-link>
      <app-icon-link class="socials-icons_icon" [iconConfig]="{iconType: ProjectIconType.TWITCH}"></app-icon-link>
      <app-icon-link class="socials-icons_icon" [iconConfig]="{iconType: ProjectIconType.MAIL}"></app-icon-link>
    </nav>

    <div class="copyrights">
      <p>Copyright © {{ currentYear }} TeamDivergentes</p>
    </div>
  </section>

  <mat-divider class="d-md-none dark-primary"></mat-divider>

  <nav class="d-none d-md-flex navigation-pages" aria-label="Navigation du site">
    @for (page of footerNavigationPages; track page.path) {
      <a class="navigation-pages_page" [routerLink]="page.path">{{ page.label }}</a>
    }
  </nav>
</footer>
