//@use 'mixins' as mixins;
//@use 'variables' as vars;
@use 'variables' as *;
@use 'mixins' as *;

#visitor_navbar {
  background-color: $dark-background-with-opacity;
  backdrop-filter: blur(7px);
  color: var(--white);
  width: 100%;
  z-index: 10;
  display: block;
  position: fixed;
  padding: 0;
  border-bottom: 1px solid var(--darkGreen);
  @include responsive-header-height;

  .navbar-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 2rem 0 0;
    @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
      margin: 0 2rem 0 0 ;
    }
    @media (min-width: $breakpoint-large) {
      margin: 0 6.75rem 0 0 ;
    }
  }

  .logo-div {
    @include responsive-header-div-logo-width;
    height: 100%;
    text-align: center;
    border-right: 1px solid var(--darkGreen);

    .logo-div__component {
      display: flex;
      height: 100%;
      justify-content: center;

      &::after {
        bottom: 40px;
        content: "";
        height: 2px;
        position: absolute;
        transform: rotate(90deg);
        width: 30px;
        background: linear-gradient(90deg, rgb(16, 17, 17), rgb(16, 17, 17) 25%, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0) 75%, rgb(16, 17, 17) 0px);
        left: $header-div-logo-width-mobile - 15px;
        @media (min-width: $breakpoint-tablet) and (max-width: $breakpoint-desktop) {
          left: $header-div-logo-width-tablet - 15px;
        }
        @media (min-width: $breakpoint-desktop) {
          left: $header-div-logo-width-desktop - 15px;
        }
      }
    }
  }

  .navbar-pages {
    display: none;
    font-size: 1rem;
    gap: 16px;
    font-weight: 400;
    letter-spacing: 1px;
    cursor: pointer;
    align-items: center;

    .dropdown-link {
      cursor: pointer;
    }
    @media (min-width: 800px) {
      display: flex;
    }
    @media (min-width: $breakpoint-desktop) and (max-width: $breakpoint-large) {
      font-size: 1.25rem;
    }
    @media (min-width: $breakpoint-large) {
      font-size: 1.5rem;
      gap: 42px;
    }
  }

  .navbar-icons {
    display: flex;
    align-items: center;
    gap: 16px;
    @media (min-width: 800px) {
      display: none;
    }
  }

  .mobile-menu {
    margin-top: 10%;

    .close-button {
      background-color: var(--darkBackground);
      border: 1px solid var(--green);
      border-radius: 5px;
      color: white;
      font-size: 20px;
      font-weight: bold;
      margin: 0 20px 20px auto;
      display: block;
      padding: 4px 10px;
    }
    .menu-list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      padding-top: 16px;
      padding-left: 0;
      background-color: $dark-background-with-opacity;
      backdrop-filter: blur(7px);

      .menu-list__item {
        border-bottom: 1px solid var(--darkGreen);
        display: flex;
        justify-content: space-between;
        padding: 0 20px 10px 20px;
        font-size: 20px;
        svg {
          height: 18px;
          color: var(--green);
        }
      }
    }
  }

 .structure-bloc {
   display: flex;
   justify-content: center;
   height: 234px;
   border-top: 1px solid var(--darkGreen);
   border-bottom: 1px solid var(--green);
   background-color: $dark-background-with-opacity;
   backdrop-filter: blur(7px);

   .structure-bloc__images {
     margin: auto;
     display: flex;
     gap: 16px;

     a.structure-bloc__images__bloc {
       position: relative;
       border-radius: 20px;
       overflow: hidden;
       text-decoration: none;
       color: inherit;
       display: block;

       img {
         filter: grayscale(100%); // image en noir et blanc
         transition: filter 0.5s ease, transform 0.3s ease;
         width: 220px;
         height: 168px;
         object-fit: cover;
       }

       &:hover {
         cursor: pointer;
         img {
           filter: grayscale(0%); // image en couleur au hover
           transform: scale(1.05); // léger zoom
         }
       }

       .structure-bloc__images__bloc__label {
         margin-bottom: 5px;
         line-height: 1;
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translateX(-50%);
         font-size: 28px;
         text-align: center;
       }
     }

   }
 }

}
