<mat-toolbar id="visitor_navbar" (mouseleave)="showStructureBlock.set(false)">
  <div class="navbar-container">
    <div class="logo-div">
      <app-logo-with-hover class="logo-div__component" />
    </div>

    <div class="navbar-pages">
      @for (page of navigationPages; track page.label; let isLast = $last) {
        @if (page.active) {
          @if (isLast) {
            <span class="navbar-pages__separator">|</span>
          }
          @if (page.isDropdown) {
            <span [class]="page.className" class="dropdown-link"
               (mouseenter)="showStructureBlock.set(true)">
              {{ page.label | uppercase }}
            </span>
          } @else {
            <a [routerLink]="page.path" [class]="page.className" [routerLinkActive]="'text-green'"
               (mouseenter)="showStructureBlock.set(false)">
              {{ page.label | uppercase }}
            </a>
          }
        }
      }
    </div>

    <div class="navbar-icons">
      <app-icon-link [iconConfig]="{iconType: IconType.TWITCH}"></app-icon-link>
      <app-icon-svg [iconConfig]="{iconType: IconType.MENU, width: 30, height: 30}" class="offset-5 me-3"
                    (click)="showMobileMenu.set(!showMobileMenu())"></app-icon-svg>
    </div>
  </div>

  <!-- Menu structure sur desktop -->
  @if (showStructureBlock()) {
    <div #structureBlock class="structure-bloc" [style.top.px]="117">
      <div class="structure-bloc__images">
        @for (image of structureImgs; track image.id) {
          @if (image.active) {
            <a [routerLink]="image.path" class="structure-bloc__images__bloc">
              <img
                [ngSrc]="image.link"
                [alt]="image.alt"
                [width]="image.width"
                [height]="image.height"
              />
              <span class="structure-bloc__images__bloc__label" [innerHTML]="image.alt"></span>
            </a>
          }
        }
      </div>
    </div>
  }

  <!-- Menu latéral sur mobile -->
  @if (showMobileMenu()) {
    <div class="mobile-menu">
      <button class="close-button pointer" (click)="showMobileMenu.set(false)">✕</button>

      <ul class="menu-list">
        @for (page of mobileNavigationPages; track page.path) {
          @if (page.active) {
            <li class="menu-list__item pointer">
              <span [routerLink]="page.path"> {{ page.label }}</span>

              <svg [routerLink]="page.path" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                   stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                   class="lucide lucide-arrow-right-icon lucide-arrow-right arrow-icon">
                <path d="M5 12h14"/>
                <path d="m12 5 7 7-7 7"/>
              </svg>
            </li>
          }
        }
      </ul>
    </div>
  }
</mat-toolbar>

