@use 'styles/_text.scss';
@use 'styles/_containers.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'bootstrap/scss/bootstrap';

:root {
  --font-bebas-neue: 'Bebas Neue', sans-serif;
  --font-Asar: 'Asar', sans-serif;
  --font-Athiti: 'Athiti', sans-serif;
  --font-Bellota: 'Bellota Text', sans-serif;
  --green: #32D299;
  --darkGreen: #28413B;
  --darkBackground: #0C0D0C;
  --black: #090909;
  --lightBlack: #101111;
  --white: #FFF;
  --gray: #D3D3D3;
  --greenSVG: invert(100%) sepia(44%) saturate(3700%) hue-rotate(77deg) brightness(95%) contrast(71%);
  --greenBorder: 1px solid #28413B;
}

html, body { height: 100%; }
body {
  margin: 0;
  color: var(--white);
  font-family: var(--font-bebas-neue), serif;
  background-color: rgba(16, 17, 17, 1);
}

.pointer {
  cursor: pointer;
}
.d-flex {
  display: flex !important;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.align-center {
  display: flex;
  align-items: center;
}
a {
  color: white;
  text-decoration: none;
}
.gap-16 {
  gap: 16px;
}

.dark-primary {
  color: var(--darkGreen);
}
